header {
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	padding: 30px;
}

nav a {
	margin-right: 20px;
	color: white;
	text-decoration: none;
}


h1 {
	font-size: 72pt;
	font-family: 'Teko', sans-serif;
	background-image: url(heading.jpg);
	background-size: cover;
	height: 400px;
	padding-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.float {
	margin-right: 20px;
	margin-left: 30px;
	float: left;
	margin-bottom: 50px;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: darkgrey;
	margin-top: 30px;
}

main {
	display: grid;
}

article {
	grid-column-start: 1;
	grid-column-end: 3;
	margin-left: 30px;
}

aside {
	grid-column-start: 3;
	grid-column-end: 4;
	margin-right: 40px;
	margin-left: 40px;

}

ul{
	list-style-type: none;
}

section{
	position: fixed;
	bottom:0px;
	width: 25%;
	padding: 30px;
	background-color: red;
	right: 50px;
}

footer {
	color: white;
	background-color: black;
	padding: 30px;
	text-align: center;
	font-style: italic;
}

